/*===================商品详情样式表=================*/
/*图标公用样式*/
.icon{
    display:inline-block;
    position:absolute; 
    width: .64rem;
    height: .64rem;
    margin-top:.346rem;
    background-image: url(../images/back@2x.png);   /*默认后退图标*/
    background-repeat:no-repeat;
    background-size: .64rem;
}
.icon.icon-back{
    background-image: url(../images/back@2x.png);
    left:.4544rem;
}
.icon.icon-cart{
    background-image: url(../images/gouwuche@2x.png);
    right:3.1968rem;
}
.icon.icon-collect{
    background-image: url(../images/collect24@2x.png);
    right:1.7056rem;
}
.icon.icon-collect.active{
    background-image: url(../images/collect24_pre@2x.png);
    right:1.7056rem;
}
.icon.icon-share{
    background-image: url(../images/gouwuche_copy@2x.png);
    right:.4rem;
}

/*标题公用样式*/
.p-header{
    height:1.1712rem;
    width:100%;
    /*border-bottom:1px solid #dcdcdc;*/
    position: relative;
}
.p-content{
    width:100%;
}
/*轮播样式*/
.swiper-container {
    height: 504px;
    overflow: hidden;
    z-index:10;
    position: relative;
    margin:0 0.5408rem;
}
.swiper-wrapper {
    position: relative;
    width: 85.34%;
    width: 100%;
    /*height: 280px;*/
    /*margin:0 0.7136rem;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 8.32rem;
    /*margin-right:0.3456rem;*/
    margin:0 0.1728rem;
    height: 10.9344rem;
    position: relative;
    color: #fff;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(153,153,153,0.50);
    -webkit-border-radius:6px;
    border-radius:6px;

}
{
    width:2.1344rem;
    height:2.1344rem;
}
.swiper-slide1{background: pink;}
.swiper-slide2{background: gray;}
.swiper-slide3{background: green;}
.swiper-slide4{background: blue;}
.swiper-pagination{
    bottom: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
    width:100%;
    /*border:1px solid green;*/
    height:80px;
}
.swiper-pagination-bullet{
    width: 1.0656rem;
    height: 0.10656rem;
    display: inline-block;
    border-radius: 2px;
    background: #CCC;
    font-size:0.3733rem;
    font-family: PingFangSC-Regular;
    letter-spacing: 0;
    color:#999;
    margin: 0 0.2658rem;
}
.swiper-pagination-bullet-active {
    background: #EF5C6E;
    color:#EF5C6E;
}
.sliber-tit{
    line-height:0.5344rem;
    width: 1.14rem;
    float: left;
    position: relative;
    margin-top:0.2144rem;
}
.sliber-tit1,.sliber-tit2{
    text-indent:10pt;
}
.sliber-tit1:before,.sliber-tit2:before{
    position: absolute;
    top:-0.167rem;
    left:0;
    content:' ';
    width:.32rem;
    height:.32rem;
    margin-top:10px;
    float:left;
    background-repeat:no-repeat;
    background-size: .32rem;
    background-image: url(../images/video_chanpin_pre@2x.png);
}
.swiper-pagination-bullet-active .sliber-tit1:before,.swiper-pagination-bullet-active .sliber-tit2:before{
    background-image: url(../images/video_chanpin@2x.png);
}


/*底部样式*/
.p-footer{
    position: absolute;
    width: 100%;
    height: 1.0656rem;
    line-height: 1.0656rem;
    font-size: 0.4256rem;
    font-family: PingFangSC-Regular;
    letter-spacing: 0;
}
.p-footer a.footer-bar{
    width:50%;
    background: rgba(239,92,110,0.80);
    color: #fff;
    box-sizing: border-box;
    text-align:center;
}
a.footer-bar.fl{
    border-right:1px solid #fff;
}
a.footer-bar.fr{
    border-left:1px solid #fff;
}



