<!DOCTYPE html>
<html>
<head lang="en" class="has-topbar has-bottombar">
    <meta charset="UTF-8">
    <title>商品详情</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, minimum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script src="js/flexible.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/iphonex.css">
    <link rel="stylesheet" href="css/Allcss.css">
    <link rel="stylesheet" href="css/Pdetail.css"> <!-- 商品详情样式表 -->
</head>
<body style="overflow:Scroll;overflow-y:hidden">

<!-- 标题栏 start-->
<header class="p-header">
    <a href="javascript:void(0)" class="icon icon-back"></a>
    <a href="javascript:void(0)" class="icon icon-cart"></a>
    <a href="javascript:void(0)" class="icon icon-collect"></a>
    <a href="javascript:void(0)" class="icon icon-share"></a>
</header>
<!-- 标题栏 end-->
    
<!-- 中间主体部分 start-->
<div class="p-content">
    <div class="swiper-container">
        <div class="swiper-wrapper">
        
            <!-- 产品 -->
            <div class="swiper-slide">
                <div class="slider-list" id="swiper-slide1">
                    <script id="pro-details" type="text/html">
                        <img class="p-img" src={{imgSrc}} alt="" />
                        <p class="p-name ac">{{title}}</p>
                        <p class="p-sub ac">{{subTitle}}</p>
                        {{if countTime != 0}}
                        <div class="p-price">
                            <span class="fl">秒杀价：</span>
                            <b class="">￥{{price}}</b>
                            <i class="">￥{{pPrice}}</i>
                            <span class="fr">距离结束还剩&nbsp;{{ countTime }}</span>
                        </div>
                        {{else if countTime == 0 }}
                        <div class="p-end">
                            <i style="font-size:1.33rem;color: #EF5C6E;">￥{{pPrice}}</i>
                            <span style="font-size:1.17rem;color:#999">已售:{{number}}</span>
                        </div>
                        {{/if}}
                    </script>
                </div>
            </div>

            <!-- 感受 -->
            <div class="swiper-slide">
                <div class="slider-list swiper-slide2" id="swiper-slide2">
                    <img class="p-img" src="images/ganshou.png" alt="" />
                    <a class="play-btn" href="Javascript:void(0)"><img class="p-img" src="images/播放_(1)@2x.png" alt="" /></a>
                    <p class="p-name ac">兰芝净透亚光气垫BB</p>
                    <div class="p-person">
                        <a href="javascript:void(0)">
                            <img class="p-touxiang" src="images/ganshou.png" alt="" />
                            <span class="p-person-tit">小王子花湖姑娘</span>
                            <span class="p-person-id">当红主播</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- 详情 -->
            <div class="swiper-slide">
                <div class="slider-list swiper-slide3" id="swiper-slide3">
                    Slide 3
                </div>
            </div>

            <!-- 搭配 -->
            <div class="swiper-slide">
                <div class="slider-list swiper-slide4" id="swiper-slide4">
                    Slide 4
                </div>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
        
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
        <!-- 如果需要滚动条 -->
        <div class="swiper-scrollbar"></div>
    </div>

    <!-- 加入购物车 -->
    <a class="cart-btn ac" href="javascript:void(0)">加入购物车</a>
</div>
<!-- 中间主体部分 end -->

<!-- 底部 start-->
<footer class="p-footer">
    <a class="fl footer-bar" href="javascript:void(0)">用户评价(999+)</a>
    <a class="fr footer-bar" href="javascript:void(0)">买家秀视频(20+)</a>
</footer>
<!-- 底部 end-->

<!-- 产品规格弹层 start -->
<div class="js-cart-layer hide">
    <div class="p-layer layer-transparent"></div>
    <div class="p-layer">
        <div class="ac p-layer-content">
            <img class="p-img-sm" src="images/product@2x.png" alt="" />
            <p class="p-name">兰芝净透亚光气垫BB</p>
            <p class="p-price-sm">￥250</p>
            <div class="p-spec">
                <div id="product-wrap">
                    <script id="product-wrap-html" type="text/html">
                        {{each data as value i}}
                        <dl class="">
                            <dt>{{value.name}}:</dt>
                            <dd>    
                                {{each value.value as val j}}
                                    {{if j==0}}
                                        <a href="javascript:void(0)" class="p-tips active">{{val}}</a>
                                    {{else if j!=0}}
                                        <a href="javascript:void(0)" class="p-tips">{{val}}</a>
                                    {{/if}}
                                {{/each}}
                            </dd>
                        </dl>
                        {{/each}}
                    </script>
                </div>
            </div>
            
            <!-- 关闭按钮 -->
            <a href="javascript:void(0)" class="icon icon-close"></a>
            <div class="cart-box">
                <div class="calc-wrap">
                    <a class="fl calc-btn btn-sub" href="javascript:void(0)"></a>
                    <input class="calc-input" value="1" type="text" type="number" />
                    <a class="fr calc-btn btn-add" href="javascript:void(0)"></a>
                </div>
                <a href="javascript:void(0)" class="ac cart-confirm active">确认</a>
            </div>
            
        </div>
    </div>
</div>
<!-- 产品规格结束 end -->


<!-- 感受全屏弹层 -->
<div class="js-feel-layer hide">
    <div class="p-layer layer-feel"></div>
    <div class="p-layer feel-box">
        <img src="images/preview.png" alt="" class="feel-preview" />
        <div class="per-title">
            <span class="icon icon-back-white"></span>
            <span class="per-box per-box-layer"></span>
            <span class="per-box per-box-content">
                <a class="" href="javascript:void(0)"><img class="p-tou" src="images/ganshou.png" alt=""></a>
                <p class="p-feel-title">小王子花湖白姑娘</p> <br />
                <p class="p-feel-sub">当红主播</p>
                <a href="javascript:void(0)" class="per-guanzhu">关注</a>                
            </span>
        </div>
        <div class="feel-flod-wrap">
            <div class="feel-flod-btn"></div>
            <div class="feel-flod-content">
                <img class="feel-pro-img" src="images/product@2x.png" alt="" />
                <p class="feel-name">兰芝净透亚光气垫BB霜</p>
                <p class="feel-subtit">原装进口清爽不油腻</p>
                <span class="feel-price">￥280</span>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="js/jquery-2.0.3.js"></script>
<script type="text/javascript" src="js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="js/artTemplate.js"></script>
<script type="text/javascript" src="js/main-mali.js"></script>
</html>